@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a { text-decoration: none; }

li, summary { list-style: none;}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* hazır kodlarım */

.active {
    text-decoration: underline !important;
    color: #000 !important;
}

.full-page {
    padding: 16px;
    background-color: #E5E7EB;
    width: 100%;
    min-height: 100vh;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.container-1200 {
    width: 1200px;
    margin: 0 auto;
}

.mobile-filter-button {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    padding: 8px 12px;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #171717;
    border-radius: 8px;
    height: 40px;
    width: 50px;
    margin-right: auto;
}

.mobile-filter {
    background-color: #fff;
    padding: 16px;
    position: absolute;
    inset: 0;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    > header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        > h1 {
            font-size: 24px;
            font-weight: 600;
            letter-spacing: 1px;
            color: #171717;
        }
        > button {
            background-color: transparent;
            border: none;
            font-size: 32px;
        }
    }
}

.header {
    padding: 16px 0;
    > .container-1200 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.logo {
    display: flex;
    align-items: center;
    > h5 {
        font-size: 16px;
        font-weight: 700;
        color: #171717;
    }
}

.nav {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-right: auto;
    margin-left: 128px;
    > li {
        > a {
            font-size: 14px;
            line-height: 1;
            color: #525252;
            font-weight: 500;
            letter-spacing: 1px;
        }
        > a:hover {
            color: #000;
            text-decoration: underline;
        }
    }
}

.cart-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    > p {
        top: -10px;
        right: -10px;
        position: absolute;
        background-color: #4338CA;
        width: 18px;
        height: 18px;
        color: #FFF;
        font-size: 10px;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
}

.main {
    > .container {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px
    }
}

/* HOME PAGE CSS START */

.home-page-hero {
    padding: 96px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    > video {
        border-radius: 8px;
    }
    > div {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 24px;
        > h1 {
            font-size: 42px;
            font-weight: 600;
            color: #171717;
            line-height: 1.1;
        }
        > p {
            font-size: 18px;
            font-weight: 400;
            color: #525252;
            line-height: 1.3;
        }
        > a {
            background-color: #4338CA;
            color: #FFF;
            font-size: 14px;
            padding: 10px 20px;
            letter-spacing: 1px;
            border-radius: 4px;
            transition: all .3s;
        }
        > a:hover {
            background-color: #3730A3;
        }
    }
}

.home-page-latest-arrivals {
    padding: 96px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    > header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        > h1 {
            font-size: 30px;
            color: #171717;
            font-weight: 600;
            line-height: 1;
        }
        > a {
            padding: 10px 14px;
            border: 1px solid #e6e6e6;
            color: #171717;
            border-radius: 4px;
            box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
        }
        > a:hover {
            background-color: #fafafa;
        }
    }
    > main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
    }
}

.product-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    > img:nth-child(1) {
        display: block;
    }
    > img:nth-child(2) {
        display: none;
    }
    > img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
        border-radius: 8px;
    }
    > h3 {
        font-size: 18px;
        font-weight: 500;
        color: #171717;
        line-height: 1.3;
    }
    > h1 {
        font-size: 18px;
        font-weight: 400;
        line-height: 1;
        color: #525252;
    }
}

.product-item:hover {
    > img:nth-child(1) {
        display: none;
    }
    > img:nth-child(2) {
        display: block;
    }
    > h3 {
        color: #4338CA;
    }
    
}

.color {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #e6e6e6;
}

.home-page-our-collections {
    padding: 96px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    > header {
        > h1 {
            font-size: 30px;
            color: #171717;
            font-weight: 600;
            line-height: 1;
        }
    }
    > main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }
}

.home-page-our-collections-left {
    > a {
        position: relative;
        > img {
            height: 600px;
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
    }
}

.home-page-our-collections-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > a {
        position: relative;
        > img {
            height: 283px;
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
    }
}

.opacity {
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to top, rgba(0,0,0, 0.8), transparent);
    display: flex;
    align-items: end;
    padding: 32px;
    border-radius: 8px;
    > h3 {
        font-size: 18px;
        color: #FFF;
        font-weight: 400;
        letter-spacing: 1px;
    }
}

.home-page-experience {
    padding: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    > h6 {
        color: #4338CA;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    > h3 {
        font-size: 40px;
        font-weight: 600;
        color: #171717;
    }
    > p {
        font-size: 20px;
        color: #525252;
        font-weight: 400;
        text-align: center;
        line-height: 1.3;
    }
}

.home-page-services {
    padding: 96px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 32px;
    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 16px;
        > span {
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
        }
        > h3 {
            line-height: 1;
            font-size: 20px;
            font-weight: 600;
            color: #171717;
        }
        > p {
            font-size: 16px;
            color: #525252;
            font-weight: 400;
            line-height: 1.3;
        }
    }
}

.footer {
    padding: 96px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer-line {
    width: 100%;
    height: 1px;
    background-color: rgba(229, 229, 229, 1);
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > div {
        display: flex;
        flex-direction: column;
        gap: 8px;
        > h1 {
            font-size: 20px;
            color: #171717;
            font-weight: 600;
            line-height: 1;
        }
        > p {
            font-size: 16px;
            color: #525252;
            font-weight: 400;
            letter-spacing: 1px;
        }
    }
    > form {
        display: flex;
        gap: 16px;
        > input {
            padding: 10px 14px;
            background-color: #fafafa;
            border-radius: 4px;
            border: 1px solid #e5e5e5;
            width: 300px;
            letter-spacing: 1px;
        }
        > button {
            background-color: #4338CA;
            border-radius: 4px;
            color: #FFF;
            padding: 8px 16px;
            border: none;
            cursor: pointer;
            transition: all .3s;
        }
        > button:hover {
            background-color: #3730A3;
        }
    }
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > p {
        font-size: 16px;
        font-weight: 400;
        color: #525252;
        line-height: 1;
        letter-spacing: 0.5px;
        > a {
            color: #000;
            font-weight: 500;
            text-decoration: underline;
        }
    }
}

.footer-links {
    display: flex;
    align-items: center;
    gap: 24px;
}

/* HOME PAGE CSS END */

/* SHOP PAGE CSS START */

.shop-page {
    padding: 96px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 64px;
    position: relative;
}

.shop-page-left {
    display: flex;
    flex-direction: column;
    padding-top: 72px;
}

.shop-page-right {
    display: flex;
    flex-direction: column;
    gap: 32px;
    > header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 16px;
        > select {
            border: 1px solid #e6e6e6;
            padding: 8px 12px;
            font-size: 14px;
            box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
            border-radius: 8px;
            outline: none;
        }
    }
    > main {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 32px;
    }
    > footer {
        display: flex;
        justify-content: center;
        gap: 16px;
        > button {
            border: 1px solid #e6e6e6;
            padding: 8px 12px;
            font-size: 16px;
            box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
            border-radius: 8px;
            background-color: #FFF;
            outline: none;
            cursor: pointer;
            width: 40px;
        }
        > button:hover {
            background-color: #3730A3;
            color: #FFF;
        }
    }
}

.filter-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-bottom: 1px solid #e2e8f0;
    padding: 32px 0;
    > button {
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        > h3 {
            color: #171717;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 1px;
        }
        > img {
            opacity: 0.6;
        }
    }
    > main {
        display: none;
        flex-direction: column;
        gap: 12px;
        > p {
            display: flex;
            align-items: center;
            gap: 8px;
            color: #171717;
            > i {
                color: #FAAF00;
            }
        }
    }
}

/* SHOP PAGE CSS END */

/* PRODUCT PAGE CSS START */

.product-page {
    display: flex;
    flex-direction: column;
}

.product-page-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
    padding: 96px;
}

.product-page-image-box {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    > button {
        position: absolute;
        border: none;
        cursor: pointer;
        width: 50px;
        height: 100%;
        top: 0;
        font-size: 20px;
        background-color: rgba(0, 0, 0, 0.03);
        transition: all .3s;
    }
    > button:hover {
        background-color: rgba(0, 0, 0, 0.07);
    }
}

.product-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    > h1 {
        font-size: 48px;
        color: #171717;
        font-weight: 600;
        line-height: 1.1;
    }
    > h3 {
        font-size: 32px;
        color: #525252;
        font-weight: 500;
        line-height: 1.1;
    }
    > p {
        font-size: 16px;
        color: #525252;
        font-weight: 400;
        line-height: 1.5;
    }
    > button {
        padding: 12px;
        background-color: #4338CA;
        transition: all .3s;
        color: #FFF;
        border: none;
        cursor: pointer;
        border-radius: 8px;
        letter-spacing: 1px;
    }
    > button:hover {
        background-color: #3730A3;
    }
}

.stars {
    display: flex;
    gap: 4px;
    > p {
        margin-right: 12px;
        font-size: 16px;
        font-weight: 500;
        color: #171717;
    }
    > i {
        color: #FAAF00;
    }
}

.select {
    display: flex;
    flex-direction: column;
    gap: 8px;
    > p {
        font-size: 16px;
        letter-spacing: 1px;
    }
    > span {
        width: 120px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: #fafafa;
        border: 1px solid #e2e8f0;
        text-align: center;
        align-items: center;
        padding: 8px;
        > button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            line-height: 1;
        }
        > p {
            font-weight: 700;
            font-size: 20px;
        }
    }
    > div {
        display: flex;
        gap: 16px;
        > button {
            width: 60px;
            padding: 8px;
            border: 1px solid #e2e8f0;
            border-radius: 8px;
            background-color: #fafafa;
            font-weight: 500;
            letter-spacing: 1px;
            cursor: pointer;
        }
        > button:hover {
            background-color: #e2e8f0;
        }
        
    }
}

.product-page-bottom {
    padding: 96px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    > header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        > h1 {
            font-size: 30px;
            color: #171717;
            font-weight: 600;
            line-height: 0.9;
        }
        > a {
            padding: 10px 14px;
            border: 1px solid #e6e6e6;
            color: #171717;
            border-radius: 4px;
            box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
        }
        > a:hover {
            background-color: #fafafa;
        }
    }
    > main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
    }
}

.cart-page {
    padding: 96px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    > header {
        > h1 {
            font-size: 48px;
            color: #171717;
            font-weight: 600;
        }
    }
    > main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 64px;
        align-items: start;
    }
}

.cart-page-left {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cart-item {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 64px;
    align-items: center;
    > img {
        width: 200px;
        height: 250px;
        object-fit: cover;
        border-radius: 16px;
    }
    > div {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        > button {
            background-color: transparent;
            border: none;
            font-size: 20px;
            color: #171717;
            cursor: pointer;
        }
        > h1 {
            font-size: 24px;
            font-weight: 500;
            color: #171717;
        }
        > p {
            font-size: 14px;
            color: #525252;
            letter-spacing: 1px;
            line-height: 1.5;
            > span {
                text-transform: uppercase;
            }
        }
        > div {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 8px;
            > h3 {
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 1px;
                color: #171717;
            }
        }
    }
}

.cart-page-right {
    padding: 32px;
    border-radius: 16px;
    border: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    gap: 32px;
    > header {
        > h3 {
            font-size: 24px;
            color: #171717;
            font-weight: 600;
        }
    }
    > main {
        display: flex;
        flex-direction: column;
        gap: 16px;
        > span {
            display: flex;
            justify-content: space-between;
            > p {
                font-size: 16px;
                color: #525252;
                font-weight: 400;
            }
            > h3 {
                font-size: 18px;
                color: #171717;
                font-weight: 600;
            }
        }
    }
    > footer {
        display: flex;
        flex-direction: column;
        gap: 32px;
        > span {
            display: flex;
            align-items: center;
            justify-content: space-between;
            > p {
                font-size: 24px;
                color: #171717;
                font-weight: 500;
            }
            > h3 {
                font-size: 36px;
                font-weight: 600;
                color: #171717;
            }
        }
        > button {
            width: 100%;
            background-color: #4338CA;
            color: #fff;
            padding: 12px;
            letter-spacing: 1px;
            border: none;
            cursor: pointer;
            border-radius: 8px;
        }
        > button:hover {
            background-color: #3730A3;
        }
    }
}

.cart-line {
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
}

.warning {
    font-size: 18px;
    color: #171717;
    > a {
        text-decoration: underline;
        color: #000;
        font-weight: 500;
    }
}

.notification-box {
    width: 300px;
    position: fixed;
    right: -300px;
    top: 300px;
    z-index: 1000;
    height: 80px;
    background-color: #4338CA;
    transition: all .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    > p {
        color: #FFF;
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 20px;
    }
}

/* PRODUCT PAGE CSS END */

@media (width < 1450px) {

    .container, .container-1200 {
        width: 1000px;
    }

    .mobile-filter {
        display: flex;
        gap: 32px;
    }

    .mobile-filter-button {
        display: flex;
    }

    .filter-item {
        padding: 20px 0;
    }

    .home-page-hero {
        padding: 64px 32px;
    }

    .home-page-latest-arrivals {
        padding: 64px 32px;
        > main {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .home-page-our-collections {
        padding: 64px 32px;
    }

    .home-page-experience {
        padding: 64px 32px;
    }

    .home-page-services {
        padding: 64px 32px;
    }

    .footer {
        padding: 64px 32px;
    }

    .shop-page {
        grid-template-columns: 1fr;
        padding: 64px 32px;
    }

    .shop-page-left {
        display: none;
    }

    .cart-page {
        padding: 64px 32px;
        > main {
            gap: 32px;
        }
    }

    .cart-item {
        gap: 32px;
    }

    .product-page-top {
        padding: 64px 32px;
        align-items: start;
        gap: 32px;
    }

    .product-content {
        gap: 20px;
        > h1 {
            font-size: 42px;
        }
        > h3 {
            font-size: 26px;
        }
        > p {
            font-size: 14px;
        }
    }

    .product-page-bottom {
        padding: 64px 32px;
        > header {
            > h1 {
                font-size: 32px;
            }
        }
        > main {
            grid-template-columns: repeat(3, 1fr);
        }
    }

}

@media (width < 1100px) {

    .container, .container-1200 {
        width: 700px;
    }

    .nav {
        margin-left: 64px;
    }

    .home-page-hero {
        padding: 32px;
        grid-template-columns: 1fr;
        > div {
            order: 2;
            gap: 16px;
            > h1 {
                font-size: 32px;
            }
            > p {
                font-size: 16px;
            }
        }
        > video {
            order: 1;
        }
    }

    .home-page-latest-arrivals {
        padding: 32px;
        > main {
            grid-template-columns: 1fr 1fr;
        }
        > header {
            > h1 {
                font-size: 32px;
            }
            > a {
                font-size: 14px;
            }
        }
    }

    .home-page-our-collections {
        padding: 32px;
        > header {
            > h1 {
                font-size: 32px;
            }
        }
    }

    .home-page-experience {
        padding: 32px;
        > h3 {
            font-size: 32px;
        }
        > p {
            font-size: 16px;
            line-height: 1.5;
        }
    }
    
    .home-page-services {
        padding: 32px;
        grid-template-columns: 1fr;
    }

    .footer {
        padding: 32px;
    }

    .footer-top {
        gap: 32px;
        > div {
            > h1 {
                font-size: 18px;
            }
            > p {
                font-size: 14px;
            }
        }
        > form {
            gap: 8px;
            > input {
                width: 200px;
                padding: 8px;
            }
            > button {
                font-size: 12px;
                padding: 8px;
            }
        }
    }

    .footer-bottom {
        > p {
            font-size: 14px;
        }
    }

    .footer-links {
        gap: 16px;
    }

    .shop-page-right {
        > main {
            grid-template-columns: 1fr 1fr;
        }
    }

    .cart-page {
        padding: 32px;
        gap: 32px;
        > main {
            grid-template-columns: 1fr;
        }
        > header {
            > h1 {
                font-size: 32px;
            }
        }
    }
    .cart-page-right {
        gap: 16px;
        > footer {
            gap: 16px;
        }
    }

    .product-page-top {
        padding: 32px;
        grid-template-columns: 1fr;
    }

    .product-content {
        > h1 {
            font-size: 32px;
        }
        > h3 {
            font-size: 22px;
        }
    }

    .product-page-bottom {
        padding: 32px;
        > main {
            grid-template-columns: 1fr 1fr;
        }
    }

}

@media (width < 750px) {

    .container, .container-1200 {
        width: 400px;
    }

    .home-page-hero {
        padding: 32px 16px;
        gap: 16px;
        > div {
            > h1 {
                font-size: 24px;
            }
            > p {
                font-size: 14px;
            }
            > a {
                font-size: 14px;
                padding: 8px 16px;
            }
        }
    }

    .home-page-latest-arrivals {
        padding: 32px 16px;
        > header {
            > h1 {
                font-size: 24px;
            }
        }
        > main {
            grid-template-columns: 1fr;
        }
    }

    .product-item {
        > h3, h1 {
            font-size: 16px;
        }
    }

    .home-page-our-collections {
        padding: 32px 16px;
        gap: 16px;
        > header {
            > h1 {
                font-size: 24px;
            }
        }
        > main {
            grid-template-columns: 1fr;
            gap: 16px;
        }
    }

    .home-page-our-collections-left {
        width: 100%;
        > a {
            > img {
                height: 280px;
            }
        }
    }

    .home-page-our-collections-right {
        gap: 16px;
    }

    .home-page-experience {
        padding: 32px 16px;
        > h3 {
            font-size: 24px;
            text-align: center;
        }
        > p {
            font-size: 14px;
        }
    }

    .home-page-services {
        padding: 32px 16px;
        gap: 16px;
        > div {
            > h3 {
                font-size: 18px;
            }
            > p {
                font-size: 14px;
            }
        }
    }

    .footer {
        padding: 32px 16px;
        gap: 16px;
    }

    .footer-top {
        flex-direction: column;
        gap: 16px;
        align-items: start;
        > form {
            width: 100%;
            display: grid;
            grid-template-columns: 3fr 1fr;
            > input {
                width: 100%;
            }
            > button {
                font-size: 14px;
            }
        }
        > div {
            align-items: start;
        }
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 16px;
        > p {
            line-height: 1.5;
        }
    }

    .shop-page {
        padding: 32px 16px;
    }

    .shop-page-right {
        > main {
            grid-template-columns: 1fr;
        }
    }

    .product-page-top {
        padding: 32px 16px;
        gap: 16px;
    }

    .product-content {
        gap: 12px;
        > h1 {
            font-size: 24px;
        }
        > h3 {
            font-size: 18px;
        }
        > button {
            font-size: 14px;
            padding: 10px;
        }
    }

    .select {
        gap: 4px;
        > p {
            font-size: 14px;
        }
        > div {
            gap: 8px;
            > button {
                font-size: 14px;
            }
        }
        > span {
            padding: 4px;
        }

    }

    .product-page-bottom {
        padding: 32px 16px;
        gap: 16px;
        > header {
            display: grid;
            grid-template-columns: 1fr max-content;
            > h1 {
                font-size: 24px;
                line-height: 1.3;
            }
            > a {
                font-size: 14px;
                padding: 10px;
            }
        }
        > main {
            grid-template-columns: 1fr;
        }
    }

    .cart-page {
        padding: 32px 16px;
        gap: 16px;
        > header {
            > h1 {
                font-size: 24px;
            }
        }
    }

    .cart-item {
        grid-template-columns: 1fr;
        gap: 8px;
        > div {
            gap: 8px;
        }
    }

    .cart-page-right {
        padding: 16px;
    }
}

@media (width < 470px) {

    .container, .container-1200 {
        width: 100%;
    }

    .nav {
        margin: 0;
    }
    
    .footer-top {
        gap: 8px;
        > form {
            grid-template-columns: 1fr max-content;
        }
    }

    .product-page-image-box {
        width: 100%;
    }

    .product-page-bottom {
        gap: 32px;
        > header {
            grid-template-columns: 1fr;
            gap: 16px;
        }
    }

    .product-content {
        > button {
            width: 100%;
        }
    }

    .select {
        > div {
            flex-wrap: wrap;
        }
    }

    .cart-page-right {
        > footer {
            > span {
                > h3 {
                    font-size: 24px;
                }
            }
            > button {
                font-size: 14px;
                padding: 8px;
            }
        }
    }
}